/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* le due regole qua in alto (con eccezione di color e font in *) sono da mettere sempre con rare eccezioni */

/* regole di formattazione pagina */
.margin {
  margin-left: 10%;
  margin-right: 10%;
}

.inlineb {
  display: inline-block;
}
/* fine regole di formattazione pagina */

/* altro generico */

nav {
  height: 110px;
  padding-top: 0.5%;

}

#due-nav-iniziali {
  position: fixed;
  z-index: 100;
  width: 100%;

}


header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
  background-color: blue;
}

.right {
  float: right;
}

.left {
  float: left;
}

.fas {
  color: orange;
}

.center {
  text-align: center;
}

.feature {
  text-align: left;
}

/* formati e colori testo */
h1 {
  font-size: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

h2 {
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 20px;
}

h3 {
  font-size: 25px;
}

.normaltext {
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.littletext {
  font-size: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.whitefont {
  color: white;
}

/* bottoni vari */
.button-orange:hover:not(.active){
  background-color: blue;
  cursor: pointer;
}


.button-white {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.button-orange {
  border-radius: 5px;
  background-color: orange;
  padding: 20px;
}

.button-zero {
  border-radius: 5px;
  padding: 20px;
}

/* fine bottoni vari */




#world {
  color: grey;
}

#lens {
  color: darkblue;
}



#nav1 {
  background-color: rgb(232, 238, 242);
  border-bottom: 1px solid black;
}

#nav2 {
  background-color: white;
}

#jumbotron {
  padding-top: 220px;
  height: 1000px;
  width: 100%;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* DA QUA INIZIA IL MAIN CON LE TRE SEZIONI */
#section1 {
  background-color: lightgrey;
  height: auto;
  padding-bottom: 100px;
}

#crm {
  width: 200px;
  height: auto;
}

.white-box-large {
  background-color: white;
  width: 80%;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.white-box-thin {
  text-align: center;
  background-color: white;
  float: left;
  width: 30%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: 750px;
}



.padding150 {
  padding-left: 100px;
  padding-right: 100px;
}


.img-thin-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


#sales {
  margin-right: 5%;
  margin-left: 5%;
}

#section2 {
  background-color: rgb(0, 175, 177);
  min-height: 500px;
}



#section3 {
  background-color: yellow;
  height: 800px;
}

/* cose specifiche nel footer */
footer {
  background-color: rgb(50, 73, 91);
  min-height: 500px;
}

footer a {
  display: block;
  text-decoration: none;
  color: white;
}

footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

footer strong {
  color: white;
}

.rigona {
  padding-top: 50px;
}

.colonne-footer2 {
  padding-left: 2%;
  padding-right: 2%;
}

#linguefooter {
  border-bottom: solid 1px white;
  width: 80%;
}

#ultima-riga-pagina {
  width: 80%

}

.ulfinali {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ulfinali li {
  float: left;
}

.ulfinali li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

#inglese  {
  padding-left: 25%;
}
