/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.clearfix::after {
  content: "";
  display: table;
  clear: both;
}*/

.margin {
  margin-left: 10%;
  margin-right: 10%;
}

.button-white {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}
.button-orange {
  border-radius: 5px;
  background-color: orange;
  padding: 10px;
}



nav {
  height: 100px;
}

#nav1 {
  background-color: lightgrey;
}

#nav2 {
  background-color: red;
  line-height: 100px;
  vertical-align: middle;

}

ul {
  display: flex;
}

li {
  display: inline-block;
  padding: 0px;
}

.right {
  float: right;
}

#jumbotron {
  height: 1000px;
  width: auto;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* DA QUA INIZIA IL MAIN CON LE TRE SEZIONI */
#section1 {
  background-color: lightgrey;
  height: 500px;
}

#section2 {
  background-color: blue;
  height: 500px;
}

#section3 {
  background-color: white;
  height: 500px;
}

footer {
  background-color: grey;
  height: 500px;
}
